<!DOCTYPE html>
<html>

<head>
    <title>いろいろ巡回ツール</title>
    <link rel="stylesheet" type="text/css" href="/public/static/style.css">
</head>

<body>
    <h2>いろいろ巡回ツール</h2>
    <form id='createForm'>
        <table>
            <tr>
                <th>タイトル</th>
                <td><input type="text" data-header="name"></input>
                </td>
            </tr>
            <tr>
                <th>URL</th>
                <td><input type="text" data-header="url"></input>
                </td>
            </tr>
            <tr>
                <th>メモ</th>
                <td><input type="text" data-header="memo"></input>
                </td>
            </tr>
            <tr>
                <th>周期</th>
                <td>
                    <select data-header="span">
                        {% for span_item in span_list %}
                        <option value="{{span_item.key}}">{{span_item.text}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" value="作成" id='createButton' disabled>
                    <input type="button" value="クリア" id='clearButton' disabled>
                    <input type="hidden" data-header="id">
                    <input type="hidden" data-header="current">
                </td>
            </tr>
        </table>
    </form>
    <p>今日のタスク: {{util.count(items, util.is_current_uncomplete)}}<br>その他の未完了タスク: {{util.count(items, util.is_future_uncomplete)}}</p>
    <table id="mainTable">
        <thead>
            <tr>
                <th class="id-th">id</th>
                <th class="span-th">周期</th>
                <th class="cnt-th">継続</th>
                <th class="past-th">前回</th>
                <th class="next-th">次回</th>
                <th class="title-th">タイトル</th>
                <th class="memo-th">メモ</th>
                <th class="action-th">操作</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr{% if util.is_future(item) or item.span=='complete' %} class="future" {% endif %}>
                <td>{{item.id}}</td>
                <th>{{util.span_key_to_text(item.span)}}</th>
                <td>{{item.cnt_sc}}</td>
                <td></td>
                <td>{{item.next or item.end}}</td>
                <td>{% if item.span == 'complete' %}<span>{{item.name | escape}}</span>{% else %}<a href="javascript:void(0)" />{{item.name | escape}}</a>{% endif %}{% if item.url %}
                    <a href="{{item.url}}" class="external" target="_blank"> 　</a>{% endif %}</td>
                <td>{{item.memo}}</td>
                <td>
                    {% if util.is_future(item) or item.get('next', '') == '' or item.span == 'complete' %}
                    <input type="button" value="削除" disabled> {% else %}
                    <input type="button" value="保留" disabled> {% endif %}
                </td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
    <div id="modal">
        <div id="modal-content">
            <h2><span data-header="name"></span> の詳細</h2>
            <table>
                <tr>
                    <th>id</th>
                    <td data-header="id"></td>
                </tr>
                <tr>
                    <th>周期</th>
                    <td>
                        <select name="span" data-header="span">
                        {% for span_item in span_list %}
                        <option value="{{span_item.key}}">{{span_item.text}}</option>
                        {% endfor %}
                    </select>
                    </td>
                </tr>
                <tr>
                    <th>作成日</th>
                    <td data-header-from="start"></td>
                </tr>
                <tr>
                    <th>完了日</th>
                    <td data-header-from="end"></td>
                </tr>
                <tr>
                    <th>前回</th>
                    <td data-header-from="past"></td>
                </tr>
                <tr>
                    <th>次回</th>
                    <td data-header-from="next"></td>
                </tr>
                <tr>
                    <th>タイトル</th>
                    <td><input type="text" data-header="name"></td>
                </tr>
                <tr>
                    <th>URL</th>
                    <td><input type="text" data-header="url"></td>
                </tr>
                <tr>
                    <th>メモ</th>
                    <td><textarea data-header="memo"></textarea></td>
                </tr>
                <tr>
                    <th>決定事項</th>
                    <td><textarea data-header="decide"></textarea></td>
                </tr>
            </table>
            <input type="button" value="更新">
            <a href="javascript:void(0)" id="modal-close">閉じる</a>
        </div>
    </div>
    <div id="loading-modal">
        <img src="/public/static/img-loading.gif" width="80" height="80" alt="Now Loading..." />
    </div>
    <script src='/public/static/myflow-client-util.js'></script>
    <script src='/public/static/myflow-client-core.js'></script>
    <script src='/public/static/myflow-client-consumer.js'></script>
    <script src='/public/static/myflow-client-components.js'></script>
    <script>
        var trReader = new ElementReader(function(exchange) {
            var element = exchange.getElement();
            while (element.tagName.toLowerCase() !== 'tr') {
                element = element.parentNode;
            }
            var thtdElements = element.querySelectorAll('th, td');
            return {
                'id': function() {
                    return thtdElements[0].innerText;
                },
                'past': function() {
                    return thtdElements[3].textContent;
                },
                'next': function() {
                    return thtdElements[4].textContent;
                },
                'name': function() {
                    return thtdElements[5].children[0].innerText;
                },
                'url': function() {
                    return getOr(element.querySelector('.external'), 'href', '');
                },
                'memo': function() {
                    return thtdElements[6].innerText;
                },
                'span': function() {
                    return options.getIndexByText(thtdElements[1].innerHTML);
                },
                'current': function() {
                    return thtdElements[4].innerText <= "{{now}}";
                },
                'future': function() {
                    return thtdElements[4].innerText > "{{now}}";
                },
                'finish': function() {
                    return (thtdElements[1].innerText === '一度' || thtdElements[1].innerText === '優先') && thtdElements[4].innerText <= "{{now}}";
                },
                'completed': function() {
                    return thtdElements[1].innerText === '完了';
                },
            }
        });
        var buttons = selectAll('input[type=button]');
        var options = new Options(byid('modal'));

        new Event('onload', window)
            .to(buttonEnable(buttons))
            .to(log({
                'name': 'ロード完了'
            }));

        new Event('onclick', selectAll('a[href="javascript:void(0)"]:not([id])'))
            .to(function(exchange) {
                var reader = trReader.create(exchange);
                reader.updateExchange('id');
                exchange.setHeader('method', 'update');
                if (reader.read('finish')) {
                    if (window.confirm('このタスクを完了しますか？')) {
                        exchange.setHeader('finish', 'true');
                        return exchange;
                    }
                }
                else {
                    if (reader.read('future')) {
                        exchange.setHeader('current', 'true');
                    }
                    return exchange;
                }
            })
            .to(direct('antenna-crud'));

        new Event('onclick', selectAll('.future a.external'))
            .to(function(exchange) {

                var reader = trReader.create(exchange);
                if (!reader.read('completed')) {
                    reader.updateExchange('id');
                    exchange.setHeader('current', 'true');
                    exchange.setHeader('method', 'update');
                    return exchange;
                }
            })
            .to(direct('antenna-crud'));

        new Event('onclick', collectNthChild(selectAll('#mainTable tbody tr'), 'th', 0))
            .to(function(exchange) {
                trReader.create(exchange).updateExchange(['past', 'next', 'name', 'url', 'memo', 'id', 'span']);
                return exchange;
            })
            .to(modal(byid('loading-modal'), 'open'))
            .task(request('/antenna-item'))
            .to(modal(byid('loading-modal'), 'close'))
            .to(modal(byid('modal'), 'open'));

        new Event('onclick', selectAll('#modal, #modal-close'))
            .to(function(exchange) {
                var id = exchange.getElement().id;
                if (id === 'modal' || id === 'modal-close') {
                    return exchange;
                }
            })
            .to(modal(byid('modal'), 'close'));


        new Event('onclick', selectAll('input[value="クリア"]'))
            .to(exchangeToForm(byid('createForm')))

        new Event('onclick', selectAll('input[value="更新"]'))
            .to(loadElement(byid('modal'), {
                'method': 'update'
            }))
            .to(direct('antenna-crud'));

        new Event('onclick', selectAll('input[value="保留"], input[value="削除"]'))
            .to(buttonEnable(buttons, false))
            .to(function(exchange) {
                var method = exchange.getElement().value === '保留' ? 'update' : 'delete';
                var reader = trReader.create(exchange);
                reader.updateExchange('id');
                exchange.setHeader('method', method);
                if (method === 'update') {
                    exchange.setHeader('reserve', 'true');
                }
                return exchange;
            })
            .to(function(exchange) {
                if (exchange.getHeader('method') === 'delete') {
                    if (window.confirm(exchange.getHeader('id') + '番を削除します。')) {
                        return exchange;
                    }
                    else {
                        buttonEnable(buttons)(exchange)
                    }
                }
                else {
                    return exchange;
                }
            })
            .to(direct('antenna-crud'))

        new Event('onclick', selectAll('input[value="作成"]'))
            .to(buttonEnable(buttons, false))
            .to(loadElement(byid('createForm')))
            .to(function(exchange) {
                delete exchange.getHeaders()['id'];
                exchange.setHeader('method', 'create');
                return exchange;
            })
            .to(function(exchange) {
                var name = exchange.getHeader('name');
                if (!name) {
                    alert('タイトルは必須です。');
                    buttonEnable(buttons)(exchange);
                }
                else {
                    return exchange;
                }
            })
            .to(direct('antenna-crud'))

        new RouteId('antenna-crud')
            .task(request('/antenna-exchange'))
            .to(pageReload());
    </script>
</body>

</html>
